# Pablo Darío Juárez Sánchez
# Sebastián Loeza Saldaña

In [20]:
import pandas as pd
import numpy as np
import csv
from ucimlrepo import fetch_ucirepo 
pd.set_option('display.max_columns', None)

## Cargar el DataSet Iris

In [21]:
iris_areas = pd.read_csv("IrisAreas.csv")
iris_areas

     petal area  sepal area         species
0          0.28       17.85     Iris-setosa
1          0.28       14.70     Iris-setosa
2          0.26       15.04     Iris-setosa
3          0.30       14.26     Iris-setosa
4          0.28       18.00     Iris-setosa
..          ...         ...             ...
145       11.96       20.10  Iris-virginica
146        9.50       15.75  Iris-virginica
147       10.40       19.50  Iris-virginica
148       12.42       21.08  Iris-virginica
149        9.18       17.70  Iris-virginica

[150 rows x 3 columns]

### Separar cada clase en una matriz

In [22]:
setosa = iris_areas[iris_areas["species"] == "Iris-setosa"][["petal area", "sepal area"]]
versicolor = iris_areas[iris_areas["species"] == "Iris-versicolor"][["petal area", "sepal area"]]
virginica = iris_areas[iris_areas["species"] == "Iris-virginica"][["petal area", "sepal area"]]
virginica.head()

     petal area  sepal area
100       15.00       20.79
101        9.69       15.66
102       12.39       21.30
103       10.08       18.27
104       12.76       19.50

## Crear la función de disimilitud con la norma Euclidiana

In [23]:
def disimilitud(x):
    n = len(x)
    p = len(x[0])
    dis = []
    for i in range(n):
        sum = 0
        for j in range(p):
           sum += x[i][j]
        dis.append(sum**(0.5))
    return dis

## Obtener la disimilitud entre el área del sépalo y pétalo de cada flor por cada especie

In [24]:
setosa_dis = disimilitud(setosa.values.tolist())
versicolor_dis = disimilitud(versicolor.values.tolist())
virginica_dis = disimilitud(virginica.values.tolist())

### Escribir los resultados en un archivo csv

In [25]:
with open("disimilitud.csv", "w", newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Setosa", "Versicolor", "Virginica"])
    for i in range(50):
        writer.writerow([setosa_dis[i], versicolor_dis[i], virginica_dis[i]])

In [44]:
df = pd.read_csv("disimilitud.csv")
df

      Setosa  Versicolor  Virginica
0   4.257934    5.383308   5.982474
1   3.870400    5.218237   5.034878
2   3.911521    5.360970   5.804309
3   3.815757    4.224926   5.324472
4   4.275512    5.009990   5.679789
5   4.662617    4.670118   6.054750
6   4.007493    5.320714   4.460942
7   4.159327    3.880722   5.701754
8   3.611094    5.011986   5.214403
9   3.916631    4.415880   6.416385
10  4.503332    3.674235   5.567764
11  4.079216    4.898979   5.229723
12  3.813135    4.147288   5.652433
13  3.606938    4.926459   4.924429
14  4.841487    4.573839   5.336666
15  5.067544    5.189412   5.715768
16  4.645428    4.852834   5.422177
17  4.274342    4.445222   6.633250
18  4.708503    4.515529   5.990826
19  4.453089    4.276681   4.549725
20  4.324350    5.245951   5.932116
21  4.412482    4.720169   5.047772
22  4.093898    4.806246   5.912698
23  4.204759    4.766550   5.082322
24  4.086563    4.914265   5.837808
25  3.914077    5.095096   5.817216
26  4.200000    5.075431   5.099020
27  4.301163    5.347897   5.207687
28  4.237924    4.914265   5.447935
29  3.919184    4.280187   5.556978
30  3.898718    4.168933   5.684189
31  4.354308    4.110961   6.543699
32  4.633573    4.509989   5.499091
33  4.835287    4.935585   5.028916
34  3.916631    4.790616   4.868265
35  4.029888    5.253570   6.093439
36  4.417013    5.274467   5.904236
37  3.916631    4.495553   5.453439
38  3.668787    4.704253   5.161395
39  4.200000    4.353160   5.721014
40  4.229657    4.424929   5.848932
41  3.277194    4.973932   5.754998
42  3.786819    4.458699   5.034878
43  4.296510    3.847077   5.943904
44  4.487761    4.536518   6.029925
45  3.849675    4.705316   5.662155
46  4.438468    4.689350   5.024938
47  3.872983    4.854894   5.468089
48  4.462062    4.006245   5.787918
49  4.096340    4.614109   5.184593

## Pregunta 2 Umbral de Disimilitud

In [27]:
umbral_setosa = np.mean(setosa_dis)
umbral_versicolor = np.mean(versicolor_dis)
umbral_virginica = np.mean(virginica_dis)
print(f"El umbral de setosa, versicolor y virginica respectivamente es: {umbral_setosa:.3f}, {umbral_versicolor:.3f}, {umbral_virginica:.3f}")

El umbral de setosa, versicolor y virginica respectivamente es: 4.177, 4.697, 5.547

## Pregunta 3 Distancia entre los elementos

In [28]:
  # fetch dataset 
iris_dataset = fetch_ucirepo(id=53) 
  
# data (as pandas dataframes) 
iris = iris_dataset.data.features 
iris['species'] = iris_dataset.data.targets 

iris

     sepal length  sepal width  petal length  petal width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

### Obtemos un dataset por cada clase de iris

In [29]:
iris_setosa = iris[iris["species"] == "Iris-setosa"]
iris_versicolor = iris[iris["species"] == "Iris-versicolor"]
iris_virginica = iris[iris["species"] == "Iris-virginica"]

In [30]:
#Quitamos la columna de species
iris_setosa.drop('species',axis=1,inplace=True)
iris_versicolor.drop('species',axis=1,inplace=True)
iris_virginica.drop('species',axis=1,inplace=True)

/var/folders/4w/0qtssn4s1_bck4zfcq9k819c0000gn/T/ipykernel_85296/3805126806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_setosa.drop('species',axis=1,inplace=True)
/var/folders/4w/0qtssn4s1_bck4zfcq9k819c0000gn/T/ipykernel_85296/3805126806.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_versicolor.drop('species',axis=1,inplace=True)
/var/folders/4w/0qtssn4s1_bck4zfcq9k819c0000gn/T/ipykernel_85296/3805126806.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_virginica.drop('species',axis=1,inplace=True)

In [31]:
#Lo volvemos matriz
iris_setosa = iris_setosa.values
iris_versicolor = iris_versicolor.values
iris_virginica = iris_virginica.values

In [32]:
def distancia (x:np.ndarray,y: np.ndarray):
    rest= x-y
    ans=np.linalg.norm(rest)
    return ans

In [33]:
dist_seto_versi= distancia(iris_setosa,iris_versicolor)
dist_seto_virgi= distancia(iris_setosa,iris_virginica)
dist_versi_virgi=distancia(iris_versicolor,iris_virginica)
dist_versi_seto=distancia(iris_versicolor,iris_setosa)
dist_virgi_seto=distancia(iris_virginica,iris_setosa)
dist_virgi_versi=distancia(iris_virginica,iris_versicolor)

print(f"La distancia entre setosa y versicolor es: {dist_seto_versi:.3f}")
print(f"La distancia entre setosa y virginica es: {dist_seto_virgi:.3f}")
print(f"La distancia entre versicolor y virginica es: {dist_versi_virgi:.3f}")
print(f"La distancia entre versicolor y setosa es: {dist_versi_seto:.3f}")
print(f"La distancia entre virginica y setosa es: {dist_virgi_seto:.3f}")
print(f"La distancia entre virginica y versicolor es: {dist_virgi_versi:.3f}")

La distancia entre setosa y versicolor es: 23.750
La distancia entre setosa y virginica es: 34.408
La distancia entre versicolor y virginica es: 14.596
La distancia entre versicolor y setosa es: 23.750
La distancia entre virginica y setosa es: 34.408
La distancia entre virginica y versicolor es: 14.596

# Pregunta 4 Producto interno

In [34]:
#Definimos la función que nos da el producto interno de dos matrices

def prod_inter(x:np.ndarray,y:np.ndarray):
    C=x*y
    sum=0
    for i in range(len(C)):
        for j in range(len(C[0])):
            sum += C[i][j]
    return sum

In [35]:
prod_inter_seto_versi= prod_inter(iris_setosa,iris_versicolor)
prod_inter_seto_virgi= prod_inter(iris_setosa,iris_virginica)
prod_inter_versi_virgi= prod_inter(iris_versicolor,iris_virginica)
prod_inter_versi_seto= prod_inter(iris_versicolor,iris_setosa)
prod_inter_virgi_seto= prod_inter(iris_virginica,iris_setosa)
prod_inter_virgi_versi= prod_inter(iris_virginica,iris_versicolor)

print(f"El producto interno entre setosa y versicolor es: {prod_inter_seto_versi:.3f}")
print(f"El producto interno entre setosa y virginica es: {prod_inter_seto_virgi:.3f}")
print(f"El producto interno entre versicolor y virginica es: {prod_inter_versi_virgi:.3f}")
print(f"El producto interno entre versicolor y setosa es: {prod_inter_versi_seto:.3f}")
print(f"El producto interno entre virginica y setosa es: {prod_inter_virgi_seto:.3f}")
print(f"El producto interno entre virginica y versicolor es: {prod_inter_virgi_versi:.3f}")

El producto interno entre setosa y versicolor es: 2284.910
El producto interno entre setosa y virginica es: 2590.450
El producto interno entre versicolor y virginica es: 3680.320
El producto interno entre versicolor y setosa es: 2284.910
El producto interno entre virginica y setosa es: 2590.450
El producto interno entre virginica y versicolor es: 3680.320